// ? Variabel
$primaryColor: #3282b8;
$darkPrimaryColor: #2b74a6;
$brandFont: "Noto Sans KR", sans-serif;
$primaryFont: "Noto Sans", sans-serif;

// ? Default & Mobile
// * Main Tag
html {
	scroll-behavior: smooth;
}

body {
	font-family: $primaryFont;
}

a {
	color: black;

	&:hover {
		text-decoration: none;
	}
}

footer {
	min-height: 240px;
	font-size: 0.94em;

	p,
	a {
		color: rgb(46, 46, 46);
		line-height: 2.2em;
	}

	i {
		color: white;
	}
}

footer h5 {
	color: $primaryColor;
	font-weight: 500;
}

footer h6 {
	color: $primaryColor;
	font-weight: 600;
}

// * Class & ID's
#akun-dropdown:active {
	color: white !important;
}

#breadcrumb {
	margin-left: -12px;
	margin-top: 24px;
}

.akun,
.beli,
.keranjang {
	display: none;
}

.beli #cart,
.beli #beli {
	width: 180px;
}

.breadcrumb {
	font-size: 0.8em;
}

.navbar-brand {
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 8px;
	font-family: $brandFont;
}

.brand {
	font-family: $brandFont;
}

.btn-login.btn-outline-secondary {
	padding-left: 16px;
	padding-right: 16px;
	border: none;
	background-color: $primaryColor;
	color: white !important;
	display: none;
}

.btn-primary#cart,
.btn-success {
	border: none;
	padding-top: 12px;
	padding-bottom: 12px;
}

.btn-special {
	transition: 0.4s !important;
	background-color: rgb(242, 242, 242);
	border: none;
	color: $darkPrimaryColor;

	&:hover {
		box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3) !important;
		background-color: $primaryColor;
	}

	&:active {
		background-color: $darkPrimaryColor !important;
	}
}

.btn-primary {
	background-color: $primaryColor;

	&:hover {
		background-color: $darkPrimaryColor;
	}
}

.cart {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.cart-div {
	max-width: 400px;
	min-width: 260px;
}

.diskon {
	background-image: url("../promo1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.div-produk {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
}

.dropdown-item {
	font-size: 0.92rem;
	border-radius: 8px;

	&:active {
		background-color: $primaryColor;
	}
}

.dropdown-menu {
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2) !important;
	border-radius: 12px;
	border: none;
	padding: 4px 10px;
}

.fa-facebook-square,
.fa-instagram,
.fa-telegram,
.fa-whatsapp,
.fa-youtube {
	color: grey;
	transition: 0.4s;
}

.fa-facebook-square:hover {
	color: #2871cf;
}

.fa-instagram:hover {
	color: #da33b6;
}

.fa-telegram:hover {
	color: #2871cf;
}

.fa-whatsapp:hover {
	color: rgb(33, 163, 72);
}

.fa-youtube:hover {
	color: red;
}

.footer,
.terbaru {
	background-color: $primaryColor;
}

.footer-c {
	background-color: $darkPrimaryColor;
}

.harga {
	font-weight: bold;
	color: orangered;
}

.link-primary {
	color: $primaryColor !important;

	&:hover {
		color: orangered !important;
	}
}

.logo {
	height: 62px;
	padding: 12px 0;
	margin-right: 20px;
}

.marketplace {
	display: flex;
	justify-content: center;
	padding-bottom: 34px;
	padding-top: 16px;

	a img {
		height: 30px;
		filter: grayscale(100%);
		transition: 0.6s;
		margin: 10px 20px;

		&:hover {
			filter: grayscale(0);
		}
	}
}

.nama-produk {
	font-size: 0.9em;
}

.nav-hover {
	padding: 0 0;
	border-radius: 6px;

	&:hover {
		background-color: rgb(245, 245, 245);
	}
}

.nav-profil {
	max-width: 150px;
	display: none;

	a {
		img {
			width: 22px;
			height: 22px;
			margin-left: -12px;
		}
	}
}

.navbar.navbar-main {
	// background-color: rgba(255, 255, 255, 0.8);
	// backdrop-filter: blur(20px);
	background-color: white;
	z-index: 10;
}

.navbar-toggler {
	border: none !important;

	&:focus {
		outline: none !important;
	}
}

.nav-truncate {
	max-width: 170px;
}

.no-outline {
	border: none;
	transition: 0.5s;
}

.notification {
	position: absolute;
	margin-left: -30px;
	margin-top: 10px;
}

img.no-cart,
img.no-order {
	width: 60%;
}

.profile-pic {
	position: absolute;
	margin: 0 auto;
	cursor: pointer;
	border: 2px solid;
	width: 180px;
	height: 180px;
}

.profile-wrapper {
	margin: 20px auto !important;
}

#scroll-top {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	background-color: $primaryColor;
	color: white;
	cursor: pointer;
	padding: 15px;
	opacity: 0;
	transition: 0.6s;

	&:hover {
		background-color: $darkPrimaryColor;
	}
}

.searchbar,
.detail-keranjang {
	border: none;
}

.searchbar {
	background-color: rgba(230, 230, 230, 0.4);
}

.searchbox {
	margin: 12px 0;
}

.soc-med {
	font-size: 1.4rem;
	margin-top: -20px;
}

.wrapper {
	border: none;
}

// ? Small Desktop
@media (min-width: 992px) {
	footer {
		font-size: 0.92em;
		line-height: 1.8em;
	}

	.btn-login.btn-outline-secondary {
		display: flex;
	}

	.cart.dropdown.mobile {
		display: none;
	}

	.cart.cart-md.dropdown {
		display: inline;
	}

	.divider {
		display: none;
	}

	.searchbox {
		margin: 0 20px;
	}

	.akun-mobile,
	.keranjang-mobile a {
		display: none;
	}

	.akun,
	.keranjang,
	.nav-profil {
		display: inline;
	}

	img.no-cart {
		width: 26%;
	}

	img.no-order {
		width: 46%;
	}

	.breadcrumb {
		font-size: 1em;
	}

	.nama-terbaru {
		font-size: 1em !important;
	}

	.nav-hover {
		padding: 0 4px !important;
		border-radius: 6px;
	}
}

// ? Tablet
@media (min-width: 768px) {
	.beli {
		display: inline;
	}

	.beli-mobile {
		display: none;
	}

	.beli #cart,
	.beli #beli {
		width: 180px;
		margin-bottom: 12px;
	}
}
