body {
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
	text-align: center;
}

h3 {
	line-height: 0.4em;
}

table {
	margin-top: 40px;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}
th,
td {
	padding: 15px;
}
